<div class="project-card-container">
  <div class="project-card-shortcuts">
    <div class="position-absolute">
      <i class="far fa-eye"></i>
      <i class="fas fa-cog"></i>
      <i class="far fa-file-alt"></i>
    </div>
  </div>
  <div class="project-card-header">
    <p><%= project.name %></p>
  </div>
  <div class="project-card-footer">
    <p>Show Project</p>
    <i class="fas fa-arrow-right"></i>
  </div>
</div>
