<div class="one-input">
  <div class="form-inputs">
    <%#= f.input :name, label: false, placeholder: 'Script' %>
    <%#= f.input_field :_destroy, as: :hidden %>
    <%#= link_to '<i class="far fa-trash-alt"></i>'.html_safe, '#', class: 'remove_record' %>
    <%= f.input :text, label: false, placeholder: 'Script', input_html: {class: 'auto-expand'} %>
  </div>
</div>
