<% if current_user.admin? %>
  <p class="project-card-dashboard-wrapper">
    <div class="buttons">
      <!-- create new project button -->
      <div class="callguru-button"><%= link_to 'create new project', new_user_project_path %></div>
      <div class="callguru-button just-border icon">
        <i class="fas fa-filter"></i>
        <p>Filter</p>
      </div>
    </div>
    <% @projects.each do |project| %>
      <%= render 'shared/project_card_dashboard', project: project %>
    <% end %>
  </div>
<% else %>
  <div class="project-card-agent-wrapper no-footer">
    <h4>start a call</h4>
    <div class="project-card-agent-controller">
      <% @projects.each do |project| %>
        <div class="project-card-call">
          <%= project.name %>
          <p class="goal">goal: <%= project.goal %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
